src/main/resources/schema/filter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
           jaxb:version="2.1">
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings generateIsSetMethod="true">
                <xjc:serializable uid="1"/>
                <jaxb:javaType
                        name="java.util.Calendar"
                        xmlType="xs:dateTime"
                        parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime"
                        printMethod="javax.xml.bind.DatatypeConverter.printDateTime" />
            </jaxb:globalBindings>
        </xs:appinfo>
    </xs:annotation>

    <xs:complexType name="IssueFilter">
        <xs:sequence>
            <xs:sequence>
                <xs:element name="statuses" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <!-- todo enum? -->
            </xs:sequence>
            <xs:sequence>
                <xs:element name="severities" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <!-- todo enum? -->
            </xs:sequence>
            <xs:sequence>
                <xs:element name="components" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <!-- todo complicated component? -->
            </xs:sequence>
            <xs:sequence>
                <xs:element name="rules" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
                <!-- todo complicated rule? -->
            </xs:sequence>
            <xs:sequence>
                <xs:element name="exceptions" type="IssueFilter" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:element name="anew" type="xs:boolean" default="false" minOccurs="0"/>
            <xs:element name="createdfrom" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="createdto" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="include" type="xs:boolean" maxOccurs="1" default="true"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="filter">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="filters" type="IssueFilter" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>